body {
    padding-top: 80px;
    font-size: 1.1rem;
    background-color: #ecf2fc;
}


/* ---------- Navbar ---------- */
.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    margin-left: 1.2rem;
}

.nav-item {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 2rem;
}

.nav-link {
    color: white;
    /*color: #c6c6c6;*/
}

/*.nav-link-user {*/
/*    color: #d0cece;*/
/*    color: #ffffff8c;*/
/*}*/
/*---------- Navbar ----------*/

